.check:checked {
  background-image: linear-gradient(
    to bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.check:hover {
  cursor: pointer;
}
.close {
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.task:hover {
  cursor: pointer;
}
